@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .grid-wrapper > *,
  .grid-wrapper .grid-child {
    grid-column: 2;
  }

  .full-bleed {
    grid-column: 1 / -1;
  }
}
