:80 {
	encode zstd gzip
	root * /srv
	file_server

	header /assets/* Cache-Control "public, max-age=31536000, immutable"

	handle_errors {
		respond "{err.status_code} {err.status_text}" {err.status_code}
	}
}
