@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .grid-wrapper > *,
  .grid-wrapper .grid-child {
    grid-column: 2;
  }

  .full-bleed {
    grid-column: 1 / -1;
  }

  .prose > p:first-of-type {
    @apply text-[1.22em]/[1.4em] my-[1.1em];
  }

  /* Hide black gradient on top of YouTube Embeds */
  lite-youtube::before {
    content: none !important;
  }

  .customer-logo {
    --svg-hover-color: black;
  }

  .customer-logo:hover {
    --svg-hover-color: initial;
  }
}
