---
import BaseLayout from '../layouts/BaseLayout.astro'

const META_TITLE = 'bitbetter'
const META_SUBTITLE = 'Individuelle Software: Modern, bodenständig und ohne Schnickschnack'
const META_DESCRIPTION =
  'Wir sind zwei Software-Entwickler aus Hamburg und lösen Probleme im Bereich der Digitalisierung: Making the world a bit better.'
---

<BaseLayout
  metaTitle={META_TITLE}
  metaSubtitle={META_SUBTITLE}
  metaDescription={META_DESCRIPTION}
  techstackKeywords={'blog'}
>
  <div></div>
</BaseLayout>
