---
import HeroSection from '@components/HeroSection'
import SectionGridContainer from '@components/SectionGridContainer'
import AboutUsSection from '@components/AboutUsSection'
import ServicesSection from '@components/ServicesSection'
import Footer from '@components/Footer'
import '../../base.css'
import '@fontsource/ibm-plex-sans/400.css'
import '@fontsource/ibm-plex-sans/500.css'
import '@fontsource/ibm-plex-sans/700.css'
import '@fontsource-variable/space-grotesk'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/bb_favicon.png' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>bitbetter</title>
  </head>
  <body class='flex flex-col overflow-x-hidden'>
    <SectionGridContainer className='bg-bb-grey-200'>
      <HeroSection
        title='Gemeinsam entwickeln wir digitale Lösungen, die im Kopf bleiben'
        subtitle='Wir sind zwei Software-Entwickler aus Hamburg. Unsere Leidenschaft ist gute, individuelle Software, die Menschen das Leben leichter macht. Make the World a bit better.'
        buttonCaption='Projekt anfragen'
      />
    </SectionGridContainer>
    <SectionGridContainer><div class='bg-white h-48 w-full'></div></SectionGridContainer>
    <SectionGridContainer className='z-10 bg-black overflow-hidden'>
      <AboutUsSection />
    </SectionGridContainer>
    <SectionGridContainer className='bg-white'>
      <ServicesSection />
    </SectionGridContainer>
    <SectionGridContainer className='bg-bb-grey-200'>
      <Footer />
    </SectionGridContainer>
  </body>
</html>
