---
import HeroSection from '@components/HeroSection'
import '../../base.css'
import '@fontsource/ibm-plex-sans/400.css'
import '@fontsource-variable/space-grotesk'
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/bb_favicon.png' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>bitbetter</title>
  </head>
  <body>
    <HeroSection />
  </body>
</html>
